<div>
    <form>
        <div class="fields">
            <label>Gender</label>
            <div class="field">
                <label>Male</label>
                <input name="gender" type="radio" value="male"/>
            </div>
            <div class="field">
                <label>Female</label>
                <input name="gender" type="radio" value="female">
            </div>
        </div>
        <div class="field">
            <label>Username</label>
            <input id="username" type="text" name="username" value=""/>
        </div>
        <div class="field">
            <label>Password</label>
            <input id="password" type="password" name="password" value=""/>
        </div>
        <div class="field">
            <label>Confirm Password</label>
            <input id="confirm-password" type="password" name="confirm-password" />
        </div>
        <div class="fields">
            <label>Interest</label>
            <div class="field">
                <label>Basketball</label>
                <input name="interest" type="checkbox" value="basketball" />
            </div>
            <div class="field">
                <label>Football</label>
                <input name="interest" type="checkbox" value="football" />
            </div>
            <div class="field">
                <label>Swimming</label>
                <input name="interest" type="checkbox" value="swimming" />
            </div>
        </div>
    </form>
</div>